name: Deploy to GitHub Pages

on:
  push:
    branches: [ master ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pages: write
    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.41.0'
          channel: 'stable'

      - run: flutter pub get
      - run: flutter build web --release
      - run: ls -la build/web/

      - name: Deploy
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          
          cd ${{ github.workspace }}
          rm -rf gh-pages-deploy
          git clone --depth 1 --branch gh-pages https://github.com/djstarman80/GastosApp.git gh-pages-deploy || git clone --depth 1 https://github.com/djstarman80/GastosApp.git gh-pages-deploy
          cd gh-pages-deploy
          rm -rf *
          cp -r ${{ github.workspace }}/build/web/* .
          git add -A
          git commit -m "Deploy to GitHub Pages"
          git push origin gh-pages
